<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url='https://dev68660.service-now.com/navpage.do'" />
  </head>
  <body>
    <p>Please follow <a href="https://dev68660.service-now.com/navpage.do">this link</a>.</p>
  </body>
</html>
